#sorting_explanation {
  font-size: 133%;
  font-style: italic;
}

.small_product {
  text-align: center;

  img {
    border: 1px solid #d9d9db;
    padding: 5px;
    max-width: 100%;
  }
  
  margin: 10px;
  height: 230px;
}